@import '~bootstrap/scss/bootstrap';


.list-group {
    margin:auto;
    float:left;
    margin-right: 15px;
    margin-top: 5px;
   }
   .list-group-item.active {
    background-color: #343a40;
    border-color: #343a40;
   }
   .lead {
    
    margin:auto;
    left:0;
    right:0;
   }
.desc {
    width: 100%;
}
.fixed-bottom {
	bottom: -90%;
	position: absolute;
}
.btn {
 border: 1px solid #343a40;  
}
